<section class="home">
    <header class="header" >
      <div class="buttons" style="display: flex; gap: 20px">
        <button type="button" class="button-transparent">
          <svg
            width="40"
            height="auto"
            viewBox="0 0 64 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="32" cy="32" r="32" fill="black" />
            <rect
              width="1.96235"
              height="28.3925"
              rx="0.981177"
              transform="matrix(0.691814 0.722076 -0.691814 0.722076 39.6423 11)"
              fill="white"
            />
            <rect
              width="1.96235"
              height="28.3875"
              rx="0.981177"
              transform="matrix(0.691814 -0.722076 0.691814 0.722076 20.0034 31.502)"
              fill="white"
            />
          </svg>
        </button>
        <button type="button" class="button-transparent">
          <svg
            width="40"
            height="auto"
            style="transform: rotate(180deg)"
            viewBox="0 0 64 64"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="32" cy="32" r="32" fill="black" />
            <rect
              width="1.96235"
              height="28.3925"
              rx="0.981177"
              transform="matrix(0.691814 0.722076 -0.691814 0.722076 39.6423 11)"
              fill="white"
            />
            <rect
              width="1.96235"
              height="28.3875"
              rx="0.981177"
              transform="matrix(0.691814 -0.722076 0.691814 0.722076 20.0034 31.502)"
              fill="white"
            />
          </svg>
        </button>
      </div>
      <div class="search-bar">
        <form action="">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="auto" viewBox="0 0 24 24"><g data-name="Layer 2"><g data-name="search"><rect width="24" height="24" opacity="0"/><path class="nav-svg" d="M20.71 19.29l-3.4-3.39A7.92 7.92 0 0 0 19 11a8 8 0 1 0-8 8 7.92 7.92 0 0 0 4.9-1.69l3.39 3.4a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 11a6 6 0 1 1 6 6 6 6 0 0 1-6-6z"/></g></g></svg>

            <input type="text"  placeholder="Artist, songs, or podcasts" />


        </form>
      </div>
  
      <div class="right-buttons">
        <!-- <div class="dropdown">
          <button
            class="btn btn-secondary dropdown-toggle"
            type="button"
            id="dropdownMenuButton1"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown button
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </div> -->
      </div>
  </header>
    
    <div class="home-content">
      <header class="header-text">
        <h1 class="text-white">Recent searches</h1>
      </header>
      <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3">
          

        </div>
      </div>
    </div>
  
    <div class="home-content">
      <header class="header-text">
        <h1 class="text-white">Your top genres</h1>
      </header>
      <div class="container-fluid mt-4">
        
        <div class="row row-cols-2 row-cols-md-3 row-cols-lg-6">
  

        </div>
      </div>
  
  
    </div>
  </section>
  