.bottom-bar{
    background: linear-gradient(to bottom,#ffffff00,rgba(0, 0, 0, 0.678),#000);
    
}



.nav{
    display: flex;
    // flex-direction: column;
    justify-content: space-evenly;
   

    padding: 1em 0;
    height: 70px;

    // height:230px;

    
        // gap: 10px;
        li{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 2px;
            opacity: .7;
            cursor: pointer;
            svg{
                .nav-svg{
                    fill: #fff;
                }
                .lib{
                    fill: #fff;
                }
            }
            
            a{
                font-size: 1rem;
                color: #fff;
                text-decoration: none;
            }
            &:hover{
                // svg{
                //     .nav-svg{
                //         fill: white;
                //     }
                //     .lib{
                //         fill: white;
                //     }
                // }
                // a{
                //     color: white;

                // }
                opacity: 1;

            }
        }

        li.active{
            // svg{
            //     .nav-svg{
            //         fill: white;
            //     }
            //     .lib{
            //         fill: white;
            //     }
            // }
            
            // a{
            //     color: white;
            // }
            opacity: 1;

        }
    }




// .ghost-line{
//     position: absolute;
//     bottom: 0;
//     right: 0;
//     height:100%;
//     width: 1px;
//     cursor: e-resize;
//     &:hover{
//         border-right: .5px solid  rgb(41, 41, 41);


//     }

    
// }

// @media screen and (max-width: 857px){
//     .sidebar{
//         width:80px;
//     border-right: .5px solid  rgb(41, 41, 41);


//         .nav-content{
//             padding: 0;
//         }

//         .nav{
            
        
//             .nav-list,.nav-list2{
                
//                 li{
                    
                    
//                     a{
//                         display: none;
//                     }
//                 }
//             }
        
//         }
       
//     }
    
// }